@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Poppins';
}

body {
    min-height: 100vh;
    background: rgb(234, 232, 232);
    display: flex;
}

.container {
    margin: auto;
    width: 500px;
    max-width: 90%;
}

.container form {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 8px 16px rgb(215, 208, 208);
}

.container form h1 {
    text-align: center;
    margin-bottom: 24px;
    color: rgb(32, 30, 30);
}

.container form .form-group {
    font-weight: 600;
}

.container form .form-control {
    width: 100%;
    height: 40px;
    background: white;
    border-radius: 4px;
    border: 1px solid silver;
    margin: 10px 0 18px 0;
    padding: 0 10px;
    font-size: 16px;
}

.container form .form-checkbox {
    margin-bottom: 40px;
}

.container form .radio-group {
    margin-bottom: 14px;
    font-weight: normal;
}

.container form .btn {
    margin-left: 50%;
    margin-bottom: 13px;
    margin-top: 6px;
    transform: translate(-50%);
    width: 120px;
    height: 44px;
    border: none;
    outline: none;
    background: rgb(59, 40, 223);
    cursor: pointer;
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    transition: .3s;
    border-radius: 8px;
}

.container form .btn:hover {
    opacity: .8;
}